.card {
	transition: all 100ms ease;
}

.dim {
	transition: all 250ms ease;
}

div[data-hover] .card:hover .dim {
	--dim: 0.75;
}

.dim {
	--dim: 0.8;
	--dim-color: rgba(0, 0, 0, var(--dim));
	--shadow: 0 0 1000px var(--dim-color);
	background-color: var(--dim-color);
	box-shadow: var(--shadow);
	mix-blend-mode: multiply;
}

div[data-grow] .card:hover {
	transform: scale(1.02);
}
