:root {
    --mzf-line-color: #ced4da;
    --mzf-line-width: 2px;
    --mzf-line-radius: 8px;
    --mzf-size: 24px;
    --mzf-border: var(--mzf-line-width) solid var(--mzf-line-color);
}

.mzf-parent {
    position: relative;
    padding-left: var(--mzf-size);
}

.mzf-child {
    position: relative;
}

.mzf-child::before {
    content: "";
    position: absolute;
    border-left: var(--mzf-border);
    border-bottom: var(--mzf-border);
    border-bottom-left-radius: var(--mzf-line-radius);
    width: calc(var(--mzf-size) * 0.5);
    height: calc(var(--mzf-size));
    top: calc(-0.5 * var(--mzf-size));
    left: calc(-0.5 * var(--mzf-size));
}

.mzf-child::after {
    content: "";
    position: absolute;
    left: calc(-0.5 * var(--mzf-size));
    top: calc(0.5 * var(--mzf-size) - 6px);
    height: calc(100% + 6px);
    /* bottom: 0; */
    border-left: var(--mzf-border);
}

.mzf-child:first-child::before {
    height: calc(0.5 * var(--mzf-size));
    top: 0;
}

.mzf-child:last-child::after {
    display: none;
}
