:root[data-mantine-color-scheme="dark"] {
	--mantine-color-dark-light: rgba(46, 46, 46, 0.15);
	--mantine-color-dark-light-hover: rgba(46, 46, 46, 0.2);
	--mantine-color-dark-light-color: var(--mantine-color-dark-3);

	--mantine-color-gray-light: rgba(134, 142, 150, 0.15);
	--mantine-color-gray-light-hover: rgba(134, 142, 150, 0.2);
	--mantine-color-gray-light-color: var(--mantine-color-gray-3);

	--mantine-color-red-light: rgba(250, 82, 82, 0.15);
	--mantine-color-red-light-hover: rgba(250, 82, 82, 0.2);
	--mantine-color-red-light-color: var(--mantine-color-red-3);

	--mantine-color-pink-light: rgba(230, 73, 128, 0.15);
	--mantine-color-pink-light-hover: rgba(230, 73, 128, 0.2);
	--mantine-color-pink-light-color: var(--mantine-color-pink-3);

	--mantine-color-grape-light: rgba(190, 75, 219, 0.15);
	--mantine-color-grape-light-hover: rgba(190, 75, 219, 0.2);
	--mantine-color-grape-light-color: var(--mantine-color-grape-3);

	--mantine-color-violet-light: rgba(121, 80, 242, 0.15);
	--mantine-color-violet-light-hover: rgba(121, 80, 242, 0.2);
	--mantine-color-violet-light-color: var(--mantine-color-violet-3);

	--mantine-color-indigo-light: rgba(76, 110, 245, 0.15);
	--mantine-color-indigo-light-hover: rgba(76, 110, 245, 0.2);
	--mantine-color-indigo-light-color: var(--mantine-color-indigo-3);

	--mantine-color-blue-light: rgba(34, 139, 230, 0.15);
	--mantine-color-blue-light-hover: rgba(34, 139, 230, 0.2);
	--mantine-color-blue-light-color: var(--mantine-color-blue-3);

	--mantine-color-cyan-light: rgba(21, 170, 191, 0.15);
	--mantine-color-cyan-light-hover: rgba(21, 170, 191, 0.2);
	--mantine-color-cyan-light-color: var(--mantine-color-cyan-3);

	--mantine-color-teal-light: rgba(18, 184, 134, 0.15);
	--mantine-color-teal-light-hover: rgba(18, 184, 134, 0.2);
	--mantine-color-teal-light-color: var(--mantine-color-teal-3);

	--mantine-color-green-light: rgba(64, 192, 87, 0.15);
	--mantine-color-green-light-hover: rgba(64, 192, 87, 0.2);
	--mantine-color-green-light-color: var(--mantine-color-green-3);

	--mantine-color-lime-light: rgba(130, 201, 30, 0.15);
	--mantine-color-lime-light-hover: rgba(130, 201, 30, 0.2);
	--mantine-color-lime-light-color: var(--mantine-color-lime-3);

	--mantine-color-yellow-light: rgba(250, 176, 5, 0.15);
	--mantine-color-yellow-light-hover: rgba(250, 176, 5, 0.2);
	--mantine-color-yellow-light-color: var(--mantine-color-yellow-3);

	--mantine-color-orange-light: rgba(253, 126, 20, 0.15);
	--mantine-color-orange-light-hover: rgba(253, 126, 20, 0.2);
	--mantine-color-orange-light-color: var(--mantine-color-orange-3);
}