/* .mantine-ScrollArea-content {
    --shadow-size: 2rem;
    --shadow-color: rgba(0, 0, 0, 1);
    background:
        linear-gradient(to bottom, transparent 30%, red) center top,
        linear-gradient(to top, transparent 30%, green) center bottom,
        linear-gradient(to right, transparent 30%, blue) left center,
        linear-gradient(to left, transparent 30%, white) right center,

        linear-gradient(to bottom, var(--shadow-color), transparent) center top,
        linear-gradient(to top, var(--shadow-color), transparent) center bottom,
        linear-gradient(to right, var(--shadow-color), transparent) left center,
        linear-gradient(to left, var(--shadow-color), transparent) right center;

    background-repeat: no-repeat;

    --cover-size: calc(100% - var(--shadow-size) * 2);
    --cover-padding: var(--shadow-size);
    background-size:
        var(--cover-size) calc(var(--shadow-size) * 2), var(--cover-size) calc(var(--shadow-size) * 2), calc(var(--shadow-size) * 2) 100%, calc(var(--shadow-size) * 2) 100%,
        100% var(--shadow-size), 100% var(--shadow-size), var(--shadow-size) 100%, var(--shadow-size) 100%;

    background-attachment: scroll, scroll, scroll, scroll;
}
 */

/* .mantine-ScrollArea-content {
    position: relative;
}

.mantine-ScrollArea-content::after {
    --sdw-sz: 40px;
    --sdw-clr: red;

    content: "";
    inset: 0;
    pointer-events: none;
    z-index: 10;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;

    background:
        linear-gradient(to bottom, var(--sdw-clr), transparent var(--sdw-sz)),
        linear-gradient(to top, var(--sdw-clr), transparent var(--sdw-sz)),
        linear-gradient(to right, var(--sdw-clr), transparent var(--sdw-sz)),
        linear-gradient(to left, var(--sdw-clr), transparent var(--sdw-sz)),
        linear-gradient(to right, transparent, transparent)
        ;
    background-repeat: no-repeat;
    background-size: 100% 100%, 100% 100%, 100% 100%, 100% 100%, 20% 80%;
    background-attachment: scroll, scroll, scroll, scroll, fixed;
    background-blend-mode: overlay, overlay, overlay, overlay, overlay;
} */